* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
}
h1,
h2,
p {
  margin-bottom: 1rem;
}
h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.8rem;
}
.container {
  width: 800px;
  height: 100%;
  padding: 65px 2rem 2rem 2rem;
}
.box {
  padding: 1rem;
}
label {
  font-weight: bold;
  display: block;
  padding: 8px 0px;
}
li {
  margin-left: 1.5rem;
  line-height: 1.5;
}
span {
  display: inline-block;
  padding: 3px 10px;
  margin: 0 6px;
  font-size: 14px;
  border-radius: 3px;
}
.active {
  background-color: green;
  color: #fff;
}
.inactive {
  background-color: red;
  color: #fff;
}
.pb2{
  margin-bottom: 0.5rem;
}
img{
  width:80px;
  height:80px;
  margin: 10px 0;
  border-radius: 50%;
  object-fit:cover;
}